.disp_posts {

	// EVO INTRO BLOCK
	// ======================================================================== /
	.evo_intro_block {
		margin-bottom: 30px;

		.evo_image_block {
			margin-bottom: 0;
		}

		.evo_intro_post {
			color: @color-body;
			box-shadow: none;
			border-radius: 0;
			padding: 30px;
			border-color: @e;

			.evo_post_title {
				h2{
					font-weight: 700;
					letter-spacing: -1px;
					padding-top: 0;
					color: @c-5;
				}

				.btn-group {
					padding-top: 0;
				}
			}

			.evo_post__full_text {
				p {
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	// NAV GALLERY FILTERS
	// ======================================================================== /
	.filters {
		display: block;
		width: 100%;
		margin: 0 auto 25px;
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: center;

		.nav-gallery {
			list-style-type: none;
			padding: 0;
			margin: 0;

			li {
				display: inline-block;
				text-transform: uppercase;
				font-size: 1rem;
				letter-spacing: 1px;
				margin: 0 3px 5px;
				padding: 5px 13px;
				border: 1px solid @c-e4;
				transition: all 0.2s ease-in-out;

				&.active {
					color: @w;
					background-color: @color-link;
					border-color: @color-link;
				}

				&:hover, &:active, &:focus {
					cursor: pointer;
				}
			}
		}
	}

	.cat_list {
		display: block;
		width: 100%;
		margin: 0 auto 25px;
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: center;

		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;

			li {
				display: inline-block;
				text-transform: uppercase;
				font-size: 1rem;
				letter-spacing: 1px;
				margin: 0 3px 5px;
				padding: 5px 13px;
				border: 1px solid @e;
				transition: all 0.2s ease-in-out;

				a {
					color: @color-body;
				}
			}

			.evo_cat_all,
			.selected {
				color: @w;
				background-color: @color-link;
				border-color: @color-link;

				a {
					color: @w;
				}
			}
		}
	}


	// FEATURED POST
	// ======================================================================== /
	.featured_posts {
		max-width: 100%;
		width: 100%;
		float: none;

		.evo_featured_post {
			border-radius: 0;
			padding: 30px;
			margin-bottom: 40px;
			box-shadow: none;
			border-color: @e;
			color: @color-body;
			border: 0;

			a {
				color: @color-link;
			}

			.evo_post_image {
				.evo_image_block {
					margin-top: -30px;
					margin-left: -30px;
					margin-right: -30px;
				}
			}

			.evo_post_title {
				h2 {
					font-size: 2.2rem;
					font-weight: 700;
					text-transform: uppercase;
					margin-top: 0;
					padding-top: 10px;
					padding-bottom: 5px;

					a {
						color: @color-link;
					}
				}
			}

			.evo_post_info {
				font-size: 1.2rem;
				text-transform: uppercase;
				margin-bottom: 10px;
			}

			.evo_post__excerpt {
				margin-bottom: 15px;

				.evo_post__excerpt_more_link {
					display: none;
				}
			}

			.evo_post_footer_info {
				margin-bottom: 30px;
				clear: both;

				.evo_readmore_link {
					float: left;
					font-size: 1.3rem;
					font-weight: 700;
					letter-spacing: 1px;
					text-transform: uppercase;
					margin-top: -3px;

					.ei {
						font-size: 2rem;
						position: relative;
						top: 4px;
						left: 0;
					}
				}

				.post_comments_link {
					float: right;
				}
			}
		}
	}


	// POST LIST STYLE
	// ======================================================================== /
	#grid_posts {
        display: block;
		position: relative;
		overflow: hidden;
		margin-right: -15px;
		margin-left: -15px;
		min-height: 50px;
		transition: height 0.32s ease;

		.evo_post_lists {
			// margin-right: -20px;
			// margin-left: -20px;
		}

		// POST ARTICLE
		// ======================================================================== /
		.evo_post_article {
			position: relative;
			padding: 0 15px;
			margin-bottom: 80px;

			@media screen and ( max-width: @screen-sm ) {
				margin-bottom: 40px;
			}

			// EVO POST IMAGE
			// ======================================================================== /
			.evo_post_image {
				margin-bottom: 25px;

				.evo_image_block {
					margin: 0;
				}

				img {
					border-radius: 0;
					transition: opacity 0.32s ease-in-out;
				}

				&:hover, &:active, &:focus {
					img {
						opacity: 0.75;
					}
				}
			}

			.evo_post_gallery {
				text-align: center;
				margin-left: -8px;
				margin-right: -8px;
				margin-top: -7px;

				.evo_post_gallery__image {
					padding: 7px;
					margin: 0;
				}
			}

			// POST TITLE
			// ======================================================================== /
			.evo_post_title {
				h2 {
					font-size: 1.6rem;
					font-weight: 700;
					line-height: 1.3;
					text-transform: uppercase;
					padding-top: 0;
					padding-bottom: 2px;
				}
			}

			// POST INFO
			// ======================================================================== /
			.evo_post_info {
				font-size: 1.3rem;
				letter-spacing: 0.5px;
				text-transform: uppercase;
				margin-bottom: 12px;
				opacity: 0.8;

				.identity_link_username {
					font-weight: 400;
				}

				.evo_status {
					font-size: 1rem;
					border-radius: 0;
				}

			}

			// POST CONTENT
			// ======================================================================== /
			.evo_post__excerpt,
			.evo_post__full_text {
				position: relative;
				margin-bottom: 15px;
				padding-bottom: 15px;
				border-bottom: 1px solid @e;

				.evo_post__excerpt_text {
					margin-bottom: 5px;
				}

				.evo_post_more_link,
				.evo_post__excerpt_more_link {
					display: none;
					position: absolute;
					left: 0;

					a {
						font-size: 1.4rem;
						font-weight: 600;
						text-transform: uppercase;

						.ei {
							font-size: 2rem;
							position: relative;
							top: 4px;
							left: 0;
							opacity: 0.8;
							transition: all 0.32s ease;
						}
					}

					&:hover, &:active, &:focus {
						.ei {
							left: 10px;
						}
					}
				}

				.evo_post_more_link {
					bottom: -50px;
				}

				.evo_post__excerpt_more_link {
					bottom: -40px;
				}

			}

			// EVO READMORE LINK
			// ======================================================================== /
			.evo_readmore_link {

				a {
					font-size: 1.3rem;
					font-weight: 700;
					letter-spacing: 0.5px;
					text-transform: uppercase;

					.ei {
						font-size: 2rem;
						position: relative;
						top: 3.5px;
						left: 0;
						opacity: 0.8;
						transition: all 0.32s ease-in-out;
					}

					&:hover, &:active, &:focus {
						.ei {
							left: 12px;
						}
					}
				}
			}

			// POST COMMENTS LINK
			// ======================================================================== /
			.post_comments_link {
				display: inline-block;
				position: relative;
				float: right;
				top: -20px;
				// margin-right: 10px;
				font-size: 1.3rem;

				.ei {
				}

				a {
					color: @color-body;
				}
			}

		}


		// FEATURED POST
		// ======================================================================== /
		.featured_posts {
			&.one_column {
				max-width: @1-column;
				width: @1-column;
				float: none;
			}

			&.two_columns {
				max-width: @2-columns;
				width: @2-columns;
				float: left;

				@media screen and ( max-width: @screen-xs ) {
					max-width: @1-column;
					width: @1-column;
					float: none;
				}
			}

			&.three_columns {
				max-width: @3-columns;
				width: @3-columns;
				float: left;

				@media screen and ( max-width: @screen-sm ) {
					max-width: @2-columns;
					width: @2-columns;
				}

				@media screen and ( max-width: @screen-xs ) {
					max-width: @1-column;
					width: @1-column;
					float: none;
				}
			}

			&.four_columns {
				max-width: @4-columns;
				width: @4-columns;
				float: left;

				@media screen and ( max-width: @screen-sm ) {
					max-width: @2-columns;
					width: @2-columns;
				}

				@media screen and ( max-width: @screen-xs ) {
					max-width: @1-column;
					width: @1-column;
					float: none;
				}
			}

			.evo_post_image {
				.evo_image_block {
					padding-top: 0;
				}
			}

			.evo_post_image,
			.evo_post_title,
			.evo_post_info,
			.evo_post__excerpt,
			.evo_post_footer_info,
			.evo_post__full  {
				background-color: @f5;
				margin-bottom: 0 !important;
			}

			.evo_post_title,
			.evo_post_info,
			.evo_post__excerpt,
			.evo_post_footer_info,
			.evo_post__full {
				padding-left: 20px !important;
				padding-right: 20px !important;
			}

			.evo_post_title {
				padding-top: 20px;
				display: block;
			}

			.evo_post__excerpt {
				padding-top: 10px;
				padding-bottom: 10px !important;
				border-bottom: 0 !important;

				.evo_post__excerpt_text {
					border-bottom: 1px solid @e;
					margin-bottom: 0 !important;
					padding-bottom: 20px;
				}
			}

			.evo_image_block {
				margin-top: 0;
				padding-top: 15px;
			}

			.evo_post__full {
				padding-bottom: 10px;
			}

			.evo_post__full_text {
				margin-bottom: 0;
				padding-bottom: 5px;
			}

			.evo_post_footer_info {
				padding-bottom: 20px;
			}

		}

	}

	.evo_post_pagination {
		@media screen and ( max-width: @screen-sm ){
			margin-bottom: 40px;
		}
	}

}


// CATEGORY LIST
// ======================================================================== /
.detail_posts-topcat {

	.evo_title_disp {
		text-align: center;
	}

	.cat_list ul .evo_cat_all {
	    background-color: transparent;
	    border-color: @e;

		a {
			color: @color-body;
		}
	}
}
