.disp_posts {

	#grid_posts {
        display: block;
		position: relative;
		overflow: hidden;
		margin-right: -20px;
		margin-left: -20px;

		.evo_post_lists {
			// margin-right: -20px;
			// margin-left: -20px;
		}

		.evo_post_article {
			padding: 0 15px;
			margin-bottom: 70px;

			.evo_post_title {
				h2 {
					font-size: 16px;
					font-weight: 700;
					line-height: 1.3;
					text-transform: uppercase;
					padding-top: 0;
					padding-bottom: 2px;
				}
			}

			.evo_post_info {
				font-size: 13px;
				letter-spacing: 0.5px;
				text-transform: uppercase;
				margin-bottom: 14px;
				opacity: 0.8;

				.identity_link_username {
					font-weight: 400;
				}

				.divider {
					margin-left: 3px;
					margin-right: 3px;
				}
			}

			.evo_post__excerpt,
			.evo_post__full_text {

				.evo_post_more_link,
				.evo_post__excerpt_more_link {
					display: block;
					margin-top: 25px;
					padding-top: 20px;
					border-top: 1px solid @e;

					a {
						font-size: 13px;
						font-weight: 600;
						text-transform: uppercase;
					}
				}

			}
		}

        .picture-item {
            // min-height: auto;
            // height: 300px;
        }
	}

}
