// SINGLE STYLE
// ======================================================================== /
#main_content {

    @media screen and ( max-width: @screen-xs ) {
        &.pull-right {
            float: none !important;
        }
    }

    .evo_content_single,
    .evo_post_lists {

        .evo_cover_image {
            margin-bottom: 40px;

            @media screen and ( max-width: @screen-xs ) {
                margin-bottom: 20px;
            }

            .evo_image_block {
                margin: 0;
            }
        }

        // EVO SINGLE ARTICLE
        // ======================================================================== /
        .evo_post_article,
        .evo_single_article {

            .evo_post_title {
                h1 {
                    font-size: 18px;
                    font-weight: 700;
                    color: @color-link;
                    margin-top: 0;
                    margin-bottom: 0;
                    text-transform: uppercase;
                }
            }

            .evo_post_info {
                font-size: 13px;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                color: @color-info;
                margin-bottom: 20px;

                a {
                    color: @color-info;

                    &:hover, &:active, &:focus {
                        color: @color-link;
                    }
                }
            }

            .evo_post__full {
                border-bottom: 1px solid @e;
                padding-bottom: 20px;
                margin-bottom: 40px;

                .evo_image_block {
                    margin-bottom: 20px;

                    img {
                        border-radius: 0;
                    }
                }
            }

            // EVO POST FULL
            // ======================================================================== /
            .evo_post__full_text {
                line-height: 24px;

                h1, h2, h3, h4, h5, h6 {
                    color: @color-link;
                    opacity: 0.9;
                    font-weight: 700;
                }

                p {
                    margin-bottom: 20px;
                }

                a {
                    text-decoration: underline;
                    text-decoration-style: dotted;
                }

                ul {

                    ul {
                        padding-top: 5px;
                    }

                    li {
                        padding-bottom: 5px;
                    }

                    p {
                        margin-bottom: 0;
                    }
                }

                pre {
                    border-color: @c-e4;
                    border-radius: 2px;
                    padding: 18px;
                    margin-bottom: 20px;
                    white-space: pre-wrap;
                    word-break: break-all;
                }

                blockquote {
                    font-style: italic;
                    letter-spacing: 0.5px;
                    line-height: 1.4;
                    margin-bottom: 20px;

                    p{
                        margin-bottom: 0;
                    }
                }

                table {
                    th, td {
                        padding: 5px 10px;
                        border: 1px solid @e;
                    }
                }

            }

            // WIDGET ITEM ATTACHMENTS
            // ======================================================================== /
            .widget_core_item_small_print,
            .item_attachments,
            .widget_core_item_tags,
            .widget_core_item_vote,
            .widget_core_item_about_author {
                margin-bottom: 25px;

                h3 {
                    font-size: 18px;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: @color-link;
                    margin-top: 0;
                }
            }

            .item_attachments {
                a {
                    &:hover, &:active, &:focus {
                        text-decoration: underline;
                        background-color: transparent;
                    }
                }
            }

            .widget_core_item_tags {
                .item_tags {
                    a {
                        display: inline-block;
                        font-size: 11px;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        border: 1px solid @e;
                        padding: 6px 12px;
                        margin: 2px;

                        &:hover, &:active, &:focus {
                            background-color: @color-link;
                            color: @w;
                            border-color: @color-link;
                        }
                    }
                }
            }

            .widget_core_item_small_print {
                line-height: 1.8;

                @media screen and ( max-width: @screen-sm ) {
                    line-height: 1.3;
                }

                .user {
                    img {
                        width: 30px;
                        height: 30px;
                        border-radius: 100%;
                        margin-top: 0px;
                    }
                }

                a {
                    &:active, &:focus, &:hover {
                        text-decoration: underline;
                    }
                }

                .fa-edit {
                    margin-left: 5px;
                }
            }

            .widget_core_item_about_author {
                background-color: @e;
                padding: 20px;

                h3 {
                    margin-top: 0;
                }

                .evo_avatar {
                    margin-top: 5px;
                    margin-bottom: 0;
                    margin-right: 15px;

                    img {
                        border-radius: 2px;
                    }
                }

                .evo_author_display_field {
                    line-height: 1.4;
                }
            }

            // SINGLE PAGINATION
            // ======================================================================== /
            .single_pager {
                margin: 30px 0;
                padding: 15px 0 12px;
                border-top: 1px solid @e;
                border-bottom: 1px solid @e;

                ul {
                        list-style-type: none;
                        margin: 0;
                        bottom: 0;
                        text-align: center;

                    li{
                        display: inline;
                        margin: 0;
                        padding: 0;

                        &.previous{
                            a {
                                float: left;
                            }
                        }

                        &.next {
                            a {
                                float: right;
                            }
                        }
                    }

                    a {
                        display: inline-block;
                        font-size: 12px;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        vertical-align: middle;

                        .ei {
                            font-size: 24px;
                            vertical-align: middle;
                            margin-bottom: 3px;
                            opacity: 0.6;
                        }
                    }
                }
            }


            // EVO SINGLE COMMENT
            // ======================================================================== /
            .evo_single_comments {

                // FEEDBACKS
                // ======================================================================== /
                #feedbacks {
                    .evo_comment__list_title {
                        font-size: 20px;
                        font-weight: 700;
                        color: @color-link;
                        text-transform: uppercase;
                        margin: 2px 0 0;
                    }
                    .evo_comment__meta_info {
                        padding: 0 0 20px;

                        a {
                            font-size: 10px;
                            font-weight: 400;
                            letter-spacing: 1px;
                            line-height: 1.5;
                            text-transform: uppercase;
                            border-radius: 0;
                            border-color: @color-link;
                            background-color: @color-link;
                            color: @w;
                            padding: 5px 10px;

                            &:hover, &:active, &:focus {
                                background-color: @color-link-hover2;
                                border-color: @color-link-hover2;
                            }
                        }
                    }
                    .ratings_table {
                        margin-bottom: 15px;
                    }

                    // EVO COMMENT
                    // ======================================================================== /
                    .evo_comment {
                        border-bottom: 1px solid @e;
                        padding-bottom: 30px;
                        margin-bottom: 30px;

                        a {
                            &:hover, &:active, &:focus {
                                background-color: transparent;
                            }
                        }

                        &.replied_comment {
                            @media screen and ( min-width: @screen-sm ) {
                                margin-left: 30px !important;
                            }

                            @media screen and ( max-width: @screen-sm ){
                                margin-left: 0 !important;
                            }
                        }

                        .evo_comment_title {
                            font-size: 15px;
                            font-weight: 600;
                            text-transform: uppercase;
                            margin-bottom: 10px;
                            color: @color-link;

                            a {
                                // text-decoration: underline;

                                &:hover, &:active, &:focus {
                                    text-decoration: underline;
                                    background-color: transparent;
                                    // color: @w !important;
                                }
                            }
                        }

                        .evo_comment_avatar {
                            float: left;
                            margin-right: 15px;
                            margin-top: 5px;
                            margin-bottom: 15px;

                            img {
                                border-radius: 2px;
                            }

                            @media screen and ( max-width: @screen-xs ){
                                margin-right: 12px;

                                img {
                                    width: 50px;
                                    height: 50px;
                                }
                            }

                            @media screen and ( max-width: @screen-xs ) {
                                display: block;
                                float: none;
                                margin: 0 0 15px 0;
                                text-align: center;

                                img {
                                    float: none;
                                    margin: 0;
                                }
                            }
                        }

                        .evo_comment_text {
                            display: table;
                            line-height: 1.4;

                            h1, h2, h3, h4, h5, h6 {
                                font-weight: 700;
                            }

                            a {
                                text-decoration: underline;
                            }

                            p {
                                margin-bottom: 12px;
                            }

                            ul {
                                ul {
                                    padding-bottom: 5px;
                                }

                                p {
                                    margin-bottom: 5px;
                                }
                            }

                            pre {
                                margin-bottom: 12px;
                                padding: 15px;
                            }
                        }

                        .evo_comment_footer {
                            margin-top: 15px;
                            font-size: 13px;
                            text-transform: uppercase;

                            .permalink_right {
                                font-size: 9px;
                                letter-spacing: 1px;
                                padding: 2px 8px;
                                border: 1px solid @e;
                                margin-top: 1px;
                                margin-right: -4px;
                                // border-radius: 2px;

                                .fa {
                                    font-size: 11px;
                                }

                                &:active, &:focus, &:hover {
                                    outline: 0;
                                    background-color: @color-link;
                                    color: @w;
                                    border-color: @color-link;
                                }
                            }

                            .comment_reply {

                                &:before {
                                    content: "/";
                                    position: relative;
                                    margin-right: 8px;
                                    margin-left: 5px;
                                }

                                &:hover, &:active, &:focus {
                                    text-decoration: underline;

                                    &:before {
                                        text-decoration: none;
                                    }
                                }
                            }
                        }
                    }
                }

                // EVO COMMENT PREVIEW
                // ======================================================================== /
                #comment_preview {
                    padding: 30px;
                    border-radius: 0;
                    border: 3px solid #f2dede;

                    @media screen and ( max-width: @screen-xs ) {
                        padding: 15px;
                    }

                    .evo_comment_title {
                        margin-top: 0;
                        text-transform: uppercase;
                        font-size: 15px;
                        font-weight: 700;

                        a {
                            &:hover, &:active, &:focus {
                                background-color: transparent;
                                text-decoration: underline;
                            }
                        }
                    }

                    .evo_comment_avatar {
                        float: left;
                        margin: 0 15px 15px 0;

                        @media screen and ( max-width: @screen-xs ) {
                            display: block;
                            float: none;
                            margin: 0 0 15px 0;
                        }
                    }

                    .evo_comment_text {
                        display: table;
                    }

                    .evo_comment_footer {
                        text-transform: uppercase;
                    }
                }

                // SINGLE COMMENT FORM
                // ======================================================================== /
                .single_comment_form {
                    border-radius: 0;
                    background-color: @e;
                    border-color: @e;
                    outline: 0;
                    box-shadow: none;
                    margin: 0 0 25px;

                    .panel {
                        background-color: transparent;
                    }

                    .panel-heading {
                        padding: 30px;
                        background-color: transparent;
                        border-bottom: 0;
                        border-color: @e;

                        @media screen and ( max-width: @screen-xs ) {
                            padding: 20px;
                        }

                        .panel-title {
                            font-size: 18px;
                            font-weight: 700;
                            opacity: 0.8;
                            text-transform: uppercase;
                        }
                    }

                    & > .panel-body {
                        padding:  10px 30px 40px;

                        @media screen and ( max-width: @screen-xs ) {
                            padding: 10px 20px 20px;
                        }
                    }

                    .panel-body {

                        .form_textarea_input {
                            border-radius: 0;
                            border: 0;
                            border-bottom: 1px solid @color-link-hover;
                            box-shadow: none;
                            background-color: #f9f9f9;
                            margin-bottom: 15px;

                            &:active, &:focus {
                                outline: 0;
                                border-bottom-color: @color-link;
                            }
                        }

                        .form-group {
                            margin-bottom: 0;

                            .control-label {
                                text-transform: uppercase;
                            }

                            #uploadfile_A1 {
                                margin-bottom: 20px;
                            }

                            .preview,
                            .submit {
                                padding: 10px 20px;
                                font-size: 13px;
                                letter-spacing: 1px;
                                text-transform: uppercase;
                                border-radius: 0;
                                margin-top: 30px;

                                @media screen and ( max-width: @screen-s ) {
                                    margin-top: 5px;
                                }

                                &:active, &:focus, &:hover {
                                    outline: 0;
                                    box-shadow: none;
                                }
                            }

                            .submit {
                                background-color: @color-link;
                                border-color: @color-link;
                                color: @w;

                                &:hover, &:active, &:focus {
                                    background-color: @color-link-hover2;
                                    border-color: @color-link-hover2;
                                }
                            }
                        }
                    }
                }

                // POST COMMENT NOTIFICATION
                // ======================================================================== /
                .evo_post_comment_notification {
                    font-size: 12px;
                    margin-bottom: 20px;

                    p {
                        margin-bottom: 0;
                    }

                    a.btn {
                        font-size: 11px;
                        border-radius: 0;
                        border-color: @e;
                        letter-spacing: 0.2px;
                        margin-bottom: 0;
                        word-break: break-all;
                        white-space: pre-wrap;

                        &:hover, &:active, &:focus {
                            background-color: @color-link;
                            border-color: @color-link;
                            color: @w;
                        }
                    }
                }

                .evo_post_feedback_feed_msg {
                    margin-bottom: 20px;

                    p {
                        margin-bottom: 0;
                    }
                }

                // EVO COMMENT META
                // ======================================================================== /
                .evo_comment_meta {

                    .panel {
                        background-color: @f5;
                        border-radius: 0;
                        box-shadow: none;
                        border: 0;

                        .panel-heading {
                            padding: 20px 30px 15px;
                            font-size: 16px;
                            font-weight: 700;
                            text-transform: uppercase;
                            background-color: transparent;

                            @media screen and ( max-width: @screen-sm ) {
                                padding: 15px;
                            }
                        }

                        .panel-body {
                            padding: 15px 30px 30px;

                            @media screen and ( max-width: @screen-sm ){
                                padding: 15px;
                            }
                        }

                        .evo_comment__meta {
                            padding-bottom: 0 !important;
                            margin-bottom: 0 !important;

                            .panel-heading {
                                padding: 20px 0 0;
                                margin-bottom: 5px;
                                border-bottom: 1px solid @d;

                                .evo_comment_title {
                                    font-size: 15px;
                                    font-weight: 700;
                                }
                            }

                            .panel-body {
                                .evo_comment_text {
                                    pre {
                                        background-color: @w;
                                    }
                                }

                            }
                        }
                    }
                }

                // ALERT
                // ======================================================================== /
                .alert {
                    border-radius: 0;
                }

            }

        }

    }


    // CUSTOM EVO POST LIST
    // ======================================================================== /
    .evo_post_lists {
        .evo_post_article {

            .evo_post__full {
                margin-bottom: 10px;
                padding-bottom: 10px;
            }

            .evo_post__full_text {
                border: 0;
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }
    }

}
