// ======================================================================== /
// CONTENT TYLE GENERAL
// ======================================================================== /
#content {
	padding: 80px 0;

	@media screen and ( max-width: @screen-sm ) {
		padding: 50px 0;
	}
}

// EVO POST TITLE
// ======================================================================== /
// Positions on the action buttons near page titles
.evo_post_title {
	display: table;
	h2 {
		display: table-cell;
		margin: 0;
		padding: 20px 0 10px;
	}
	.btn-group {
		display: table-cell;
		padding: 20px 0 10px 30px;
		vertical-align: middle;
	}
}



// EVO POST
// ======================================================================== /
.evo_post {
	margin-bottom: 2em;

	.small.text-muted {
		margin: 4px 0 10px;

		a, a .glyphicon {
			color: inherit;
		}
	}
}

.evo_hasbgimg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

div.bSideItem {
	background: #F7F5FA;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
	text-shadow: 0 1px 0 #FFFFFF;
	h4 {
		margin-top: 0;
	}
}


// PAGINATION
// ======================================================================== /
&.top_pagin {
	margin-bottom: 30px;
}


.pagination {
	margin: 0;

	li {

		a, span {
			font-family: @font-heading;
			// padding: 6px 14px;
			padding: 0;
			height: 34px;
			width: 38px;
			text-align: center;
			line-height: 34px;
			margin: 0 2px;
			border: 1px solid transparent;
			border-radius: 0 !important;

			.ei {
				font-size: 18px;
				line-height: 32px;
			}

			&:hover, &:active, &:focus {
				border-color: @e;
			}
		}

	}
}
