// ======================================================================== /
// CONTENT TYLE GENERAL
// ======================================================================== /
#content {
	padding: 80px 0;

	@media screen and ( max-width: @screen-sm ) {
		padding: 50px 0;
	}
}


// Evo Posts
// ======================================================================== /
.evo_post {
	margin-bottom: 2em;
	.small.text-muted {
		margin: 4px 0 10px;
		a, a .glyphicon {
			color: inherit;
		}
	}
// MILOS > @fp - This makes both "Comments" and "Full Story" button are displayed inline
//	.more_link_button, .post_comments_link {
//		display: inline-block;
//		margin-right: 5px;
//	}
}
.evo_hasbgimg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

div.bSideItem {
	background: #F7F5FA;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
	text-shadow: 0 1px 0 #FFFFFF;
	h4 {
		margin-top: 0;
	}
}

// Pagination
.pagination {
	margin: 0;
}

// Positions on the action buttons near page titles
.evo_post_title {
	display: table;
	h2 {
		display: table-cell;
		margin: 0;
		padding: 20px 0 10px;
	}
	.btn-group {
		display: table-cell;
		padding: 20px 0 10px 30px;
		vertical-align: middle;
	}
}
