// IMPORT DISP STYLE
// ======================================================================== /
@import "disp/front_page.less";
@import "disp/single";
@import "disp/posts";
@import "disp/profile";
@import "disp/comments";
@import "disp/messages";
@import "disp/sitemap";
@import "disp/post_index";
@import "disp/mediaidx";
@import "disp/flagged";
@import "disp/search";
@import "disp/users";
@import "disp/login";
@import "disp/404";

// GLOBAL DISP STYLE
// ======================================================================== /
.disp_catdir {
	#main_content {
		.widget_core_coll_category_list {
			ul{
				list-style-type: circle;
				margin: 0 0 0 20px;

				ul {
					margin: 0 0 0 20px;
				}

				li {
					list-style-type: circle;
					padding: 8px 0;
				}

				a {
					font-size: 1.3rem;
					letter-spacing: 1px;
					text-transform: uppercase;
				}
			}
		}
	}
}

// Login - Register Style
// ======================================================================== /
// Login widget form
.widget_core_user_login {

	#login_form {
		.form-group {
			margin: 0;
		}
		label {
			text-align: left;
			width: 160px;
			padding-left: 0;
		}
		.controls {
			padding: 0;
			width: 100%;
		}
		.form_text_input.form-control {
			width: 100%;
		}
	}

	.submit {
		font-size: 1.2rem;
	}

	.field_login_btn {
		.panel {
			margin: 0;
			border: none;
			border-radius: 0;
			box-shadow: none;
			.panel-body {
				padding-left: 0;
				padding-right: 0;
				padding-bottom: 0;
				#submit_login_form {
					margin-right: 10px;
				}
			}
		}
	}
	.register_link {
		display: block;
		padding-top: 10px;
	}
}

// Register widget form
.widget_core_user_register {
	#register_form {
		.form-group {
			margin: 0;
		}
		label {
			text-align: left;
			width: 160px;
			padding-left: 0;
		}
		.controls {
			padding: 0;
			width: 100%;
		}
		.form_text_input.form-control {
			width: 100%;
		}
	}

	.submit {
		font-size: 1.2rem;
	}

	.field_register_btn {
		.panel {
			margin: 0;
			border: none;
			border-radius: 0;
			box-shadow: none;
			.panel-body {
				padding-left: 0;
				padding-right: 0;
				padding-bottom: 0;
				#submit_login_form {
					margin-right: 10px;
				}
			}
		}
	}
}

.profile_avatar {
	float: right;
	padding: 10px;
	margin-left: 10px;
}

// Login/Register forms:
.skin-form {
	.panel-body {
		.panel {
			border: none;
			box-shadow: none;
		}
		.panel-body {
			padding: 0;
		}
	}
	.fieldset {
		margin: 0;
		div.input {
			margin: 0;
		}
	}
	.control-buttons, div.input {
		padding: 0;
		width: 100%;
		text-align: center;
	}
}

.evo_panel__login,
.evo_panel__lostpass,
.evo_panel__register,
.evo_panel__activation {
	min-width: 290px;
	margin: 1.5em auto auto;
	.panel {
		margin: 5px 0;
	}
	.panel-body {
		padding-top: 20px;
		padding-bottom: 0;
	}
}

.evo_panel__login {
	max-width: 400px;
}

.evo_panel__lostpass {
	max-width: 480px;
	#ffield_x label {
		display: none;
	}
}

.evo_panel__activation {
	max-width: 530px;
	#activateinfo_form .control-buttons{
		text-align: left;
	}
}

.evo_panel__register {
	max-width: 580px;
	.control-buttons{
		text-align: left;
	}
	&.register-disabled {
		width: 350px;
	}
	.form-control {
		&#country, &#u {
			width: 100%;
		}
	}
}

.evo_form__login_links {
	padding: 0 5px;
	font-size: 92%;
}

.evo_form__login {
	fieldset {
		margin-bottom: 20px;
	}
	.controls {
		padding: 0;
		margin: 0;
		width: 100%;
	}
	.control-buttons {
		margin-left: 0;
	}
	input.form-control[type=text], input.form-control[type=password] {
		width: 100%;
	}
	.btn {
		margin-top: 5px;
	}
}

#login_form {
	.control-buttons {
		text-align: left;
	}
}

.standard_login_link {
	text-align: center;
	margin: 3em 0 1ex 0;
}

.form_footer_notes {
	margin-top: 0;
}
