// ======================================================================== /
// FONT ICLUDE
// ======================================================================== /
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700");
@import url("https://fonts.googleapis.com/css?family=Lato:400,300,700");

// GLOBAL STYLE
// ======================================================================== /
html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
    font-family: @font-body;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6;
    color: @color-body;
    background-color: @w;
    vertical-align: baseline;
    outline: 0;

    // Text Smooting
    -webkit-font-smoothing: antialiased!important;
    -webkit-text-size-adjust: 100% !important;
    text-rendering: optimizelegibility !important;
	-moz-osx-font-smoothing: grayscale;
}

::selection{
    background-color: @color-selection;
    color: @color-link;
}

a {
    color: @color-link;
    transition: all 0.2s ease 0s;

    &:hover, &:active, &:focus {
        color: @color-link-hover;
        text-decoration: none;
    }
}


// ======================================================================== /
// GLOBAL CLASS
// ======================================================================== /
.fixed {
    position: fixed;
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: pink;
}


// COLOMNS DECLARATION
// ======================================================================== /
.one_column{
    max-width: @1-column;
    width: @1-column;
    float: none;
}

.two_columns {
    max-width: @2-columns;
    width: @2-columns;
    float: left;

    @media screen and ( max-width: @screen-xs ) {
        max-width: @1-column;
        width: @1-column;
        float: none;
    }
}

.three_columns {
    max-width: @3-columns;
    width: @3-columns;
    float: left;

    @media screen and ( max-width: @screen-sm ) {
        max-width: @2-columns;
        width: @2-columns;
    }

    @media screen and ( max-width: @screen-xs ) {
        max-width: @1-column;
        width: @1-column;
        float: none;
    }

}

.four_columns {
    max-width: @4-columns;
    width: @4-columns;
    float: left;

    @media screen and ( max-width: @screen-sm ) {
        max-width: @2-columns;
        width: @2-columns;
    }

    @media screen and ( max-width: @screen-xs ) {
        max-width: @1-column;
        width: @1-column;
        float: none;
    }
}


// TYPOGRAPY
// ======================================================================== /
pre {
    border-color: @c-e4;
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 20px;
    white-space: pre-wrap;
    word-break: break-word;
}

blockquote {
    p{
        margin-bottom: 0;
    }
}


// FORM STYLE
// ======================================================================== /
// Table for select categories of item
table.catselect {
	input#new_category_name {
		width: 98% !important;
	}
}

// Form elements on item edit page
label.control-label[for=post_title] {
	width: auto;
}

// A form to create a new message/thread
textarea.message_text {
	width: 95%;
}


// SITWIDE HEADER
// ======================================================================== /
.sitewide_header {
    box-shadow: none !important;
    border-bottom: 0 !important;
}

.divider {
    margin-left: 5px;
    margin-right: 5px;
}

.alert {
    border-radius: 0;
}
