// SIDEBAR STYLE
// ======================================================================== /
#main_sidebar {

    @media screen and ( max-width: @screen-xs ) {
        margin-top: 30px;
    }

    .evo_container__sidebar,
    .evo_container__sidebar2 {

        .evo_widget {
            // overflow: hidden;
            margin-bottom: 60px;

        	@media screen and ( max-width: @screen-sm ) {
        		margin-bottom: 50px;
        	}

        	@media screen and ( max-width: @screen-xs ) {
        		margin-bottom: 30px;
        	}

            img {
                max-width: 100%;
            }
        }

    }

}
