// Font
// ======================================================================== /
@font-body: 'Open Sans', Arial, Helvetica, sans-serif;
@font-heading: 'Lato', Arial, Helvetica, sans-serif;

// Color
// ======================================================================== /
@color-body:            #7e8082;
@color-link:            #4b4e53;
@color-link-hover:      #97999c;
@color-info:            #a3a6a8;
@color-selection:       #ffea00;


@w:                     #FFFFFF;
@c-d3:                  #d3d3d3;
@c-5:                   #555555;
@b:                     #333333;
@c-1:                   #111111;

// Media Query
// ======================================================================== /

@screen-l:              1024px;

// Extra small devices (phones, less than 768px)
@screen-xs:             480px;
@screen-xs-min:         @screen-xs;
// @screen-xs-max:         @

// Small devices (tablets, 768px and up)
@screen-sm:             768px;
@screen-sm-min:         @screen-sm;

// Medium devices (desktops, 992px and up)
@screen-md:             992px;
@screen-sm-min:         @screen-md;

// Large devices (large desktops, 1200px and up)
@screen-lg:             1200px;
@screen-lg-min:         @screen-lg;
