// WIDGET STYLE IMPORT
// ======================================================================== /

// --------- Universal item list widget & Recent posts widget ---------
@import "../../rsc/less/_universal_item_list_widget.module.less";
// --------------------------------------------------------------------

// ------------------- Media Index widget --------------------
@import "../../rsc/less/_coll_media_index_widget.module.less";
// -----------------------------------------------------------

// ----------- User Avatars (User List) widget ------------
@import "../../rsc/less/_user_avatars_widget.module.less";
// --------------------------------------------------------

// ------------- Organization Members widget -------------
@import "../../rsc/less/_org_members_widget.module.less";
	// Override constants used in the module:
	@widget_core_org_members-color: #333;
	@widget_core_org_members-user-link-color: #000;
	@widget_core_org_members-user-link-hover-color: #23527c;



// ======================================================================== /
// WIDGET STYLE
// ======================================================================== /
.evo_widget {
	// margin-bottom: 30px;

	.evo_widget_title {
		font-family: @font-heading;
		font-size: 16px;
		letter-spacing: 1px;
		text-transform: uppercase;
		font-weight: 700;
		color: @color-link;
		margin: 0 0 15px;
		line-height: 25px;
	}

	ul {

		li {
			word-break: break-word;
		}

	}

	.evo_widget_body {
		ul {
			margin: 0;

			li {
				list-style-type: none;
				margin: 0;
				padding: 6px 0 6px;
				line-height: 1.4;
			}
		}

		& > ul {
			// margin: 0 0 0 20px;

			& > li {

				&:last-child {
					padding-bottom: 0;
				}
			}
		}

		.btn {
			border-radius: 0;
			outline: 0;
			box-shadow: none;
			text-transform: uppercase;
			font-size: 11px;
			letter-spacing: 1px;
			padding: 8px 12px;

			&.btn-default {
				border-color: @d;

				&:hover, &:active, &:focus {
					background-color: @color-link;
					border-color: @color-link;
					color: @w;
					box-shadow: none;
				}
			}
		}

		.form-control {
			border-radius: 0;
			box-shadow: none;
			border-color: @d;

			&:focus, &:active {
				border-color: @color-body;
			}

			&:focus:invalid {
				border-color: @color-invalid;
			}
		}

	}


	// WIDGET CATEGORY LIST
	// ======================================================================== /
	&.widget_core_coll_category_list {
		.evo_widget_body {
			ul {
				list-style-type: none;
				padding: 0;
				margin: 0;

				li {
					list-style-type: circle;
					letter-spacing: 0.2px;
				}

				a {
					font-size: 12px;
					letter-spacing: 1px;
					text-transform: uppercase;
				}
			}

			& > ul {
				margin-left: 18px;
			}
		}
	}

	// CONTENT HIERARCHY
	// ======================================================================== /
	&.widget_core_content_hierarchy {
		.evo_widget_body {
			ul {

				a {
					font-style: normal;
				}
			}
		}
	}

	// TAG CLOUD STYLE
	// ======================================================================== /
	&.widget_core_coll_tag_cloud {
		.tag_cloud {
			a {
				display: inline-block;
				font-size: 10px !important;
				text-transform: uppercase;
				letter-spacing: 1px;
				padding: 6px 12px;
				margin-bottom: 4px;
				border: 1px solid @e;

				&:hover, &:active, &:focus {
					background-color: @color-link;
					color: @w;
					border-color: @color-link;
				}
			}
		}
	}

	// WIDGET COMMAND LINKS
	// ======================================================================== /
	&.widget_core_coll_common_links {
		.evo_widget_body {
			ul {
				a {
					font-size: 12px;
					font-weight: 400;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}
		}
	}

	// COMMENT LIST
	// ======================================================================== /
	&.widget_core_coll_comment_list {
		.evo_widget_body {
			.user {
				font-weight: 600;
			}

			a {
				&:hover, &:active, &:focus {
					background-color: transparent;
				}
			}
		}
	}

	// LIST PUBLIC AND LIST OWNER
	// ======================================================================== /
	&.widget_core_colls_list_public,
	&.widget_core_colls_list_owner {
		ul {
			margin-left: 18px !important;

			li {
				list-style-type: circle;
				padding: 7px 0 7px;

				a {
					font-weight: 400;
					letter-spacing: 0.2px;
				}
			}
		}
	}

	// SEARCH FORM
	// ======================================================================== /
	&.widget_core_coll_search_form {
		.input-group {
			width: 85%;
		}

		.search {
			.search_field {
				border: 0;
				border-bottom: 1px solid @color-info;
				box-shadow: none;
				border-radius: 0;
				padding-left: 0;
			}

			.compact_search_form,
			.extended_search_form {
				.input-group-btn {
					position: relative;

					&::after {
						position: absolute;
						top: -1px;
						left: 0;
						width: 35px;
						height: 35px;
						text-align: center;
						content: "\e6ee";
						display: inline-block;
						font-family: 'elegant-icons' !important;
						font-size: 16px;
						font-style: normal;
						font-weight: normal;
						line-height: 35px;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;

						border-bottom: 1px solid @color-info;
						cursor: pointer;
					}
				}
			}

			.search_submit {
				position: absolute;
				top: 0;
				left: 0;
				width: 35px;
				height: 35px;
				border-radius: 0;
				background-color: transparent;
				margin-left: 0;
				border: none;
				text-indent: -999px;
				z-index: 2;

				&:hover, &:active, &:focus {
					outline: 0;
					box-shadow: none;
				}
			}
		}
	}

	// WIDGET AVATAR
	// ======================================================================== /
	&.widget_core_coll_avatar {
		img {
			border-radius: 2px;
		}
	}

	// WIDGET CALENDAR
	// ======================================================================== /
	&.widget_plugin_evo_Calr {
		.bCalendarTable {
			font-size: 90%;
		}

		caption {
			font-size: 17px;
			font-weight: 700;
			text-transform: uppercase;
			padding: 8px 5px;
			border: 1px solid @e;
			background-color: @e;
		}

		#bCalendarToday {
			border-radius: 0px;
			border-color: @b;
			background-color: @b;
			color: @w;
			font-weight: 700;

			a {
				color: @w;
			}
		}

		tr, td, th {
			text-align: center;
			padding: 5px;
			width: 6ex;
		}

		th {
			font-size: 96%;
		}

		td {
			border-bottom: 1px solid @e;
			border-left: 1px solid @e;
		}

		tr {

			&:nth-child(odd) {
				background-color: @e;
			}

			th {
				border-bottom: 1px solid @e;
				border-left: 1px solid @e;

				&:last-child {
					border-right: 1px solid @e;
				}
			}

			td:last-child {
				border-right: 1px solid @e;
			}
		}

		tfoot, thead {
			tr {
				background-color: transparent !important;
			}
		}
	}

	// WIDGET CORE PROFILE MENU
	// ======================================================================== /
	&.widget_core_profile_menu_link {
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;

			li {
				img {
					border-radius: 100%;
					margin-right: 5px;
				}
			}
		}
	}

	// WIDGET BREADCRUMB
	// ======================================================================== /
	&.widget_core_breadcrumb_path {
		font-size: 12px;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	// WIDGET USER LOGIN
	// ======================================================================== /
	&.widget_core_user_login {
		img {
			border-radius: 100%;
		}
	}

	&.widget_core_user_login,
	&.widget_core_user_register {
		.panel {
			.field_login_btn,
			.field_register_btn {
				padding-top: 5px;
			}
		}
	}

	// WIDGET ORG MEMBER
	// ======================================================================== /
	&.widget_core_org_members {
		.evo_user_name {
			font-weight: 600;
		}

		.user_link {
			color: @color-link;

			img {
				margin-bottom: 15px;
			}
		}
	}

	// WIDGET ONLINE USERS
	// ======================================================================== /
	&.widget_core_online_users {
		.evo_widget_body {
			img {
				border-radius: 100%;
				margin-right: 5px;
			}
		}
	}

}


// TAGS STYLE
// ======================================================================== /
.tag_cloud {
	a {
		display: inline-block;
		font-family: @font-heading;
		font-size: 10px !important;
		text-transform: uppercase;
		letter-spacing: 1px;
		padding: 6px 12px;
		margin-bottom: 4px;
		border: 1px solid @e;

		&:hover, &:active, &:focus {
			background-color: @color-link;
			color: @w;
			border-color: @color-link;
		}
	}
}


// Search WIdget Style
// ======================================================================== /
// A search button
input.search_field {
	margin-bottom: 0;
	display: inline-block;
}
form.search .search_options {
	width: 100%;
	.search_option input {
		margin-right: 5px;
	}
	.search_option label {
		margin-bottom: 0;
		margin-top: 5px;
	}
}
div.compact_search_form {
	input.search_field {
		width: 100%;
		margin: 0;
	}
}
div.extended_search_form {
	text-align: center;
	margin: 0 auto 2em auto;
	max-width: 530px;
	.search_options {
		text-align: center;
		.search_option {
			display: inline-block;
			margin-right: 10px;
		}
	}
}
